/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 @define-color PURPLE #8A00C4;
 @define-color PURPLE #b300ff;
 * -------------------------------------------------------------------------- */

/*@define-color PINK #FF4DFF;*/
/*@define-color PURPLE #930ffc;*/
@define-color PINK #FFFFFF;
@define-color PURPLE #6b6b6b;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */


/* Reset all styles */
* {
    border: none;
    border-radius: 0;

    min-height: 20px;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
  /*background-color: transparent;  RGBA for #323232 with 70% opacity */
  /*background-color: #1a1b26;*/
  background-color: #272727;
  color: @PINK;
  font-size: 13px;
}
/* Each module */
#power-profiles-daemon
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: rgba(46, 52, 64, 0.5);
  border-radius: 8px;
  padding: 4px; /* Add some padding around the tray icons */
  margin: 4px 5px; /* Add some margin for spacing from other modules and edges */
  margin-right: 10px; /* Add some right margin to separate from other right-side modules */


  border: 2px;
  border-style: solid;
  border-color: @PURPLE;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 5s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    background-color: rgba(41, 45, 62, 0.5);
    border-radius: 8px;
    padding: 4px; /* Add some padding around the tray icons */
    margin: 4px 5px; /* Add some margin for spacing from other modules and edges */
    margin-right: 10px; /* Add some right margin to separate from other right-side modules */


    border: 2px;
    border-style: solid;
    border-color: @PURPLE;
}

#cpu {
  background-color: rgba(41, 45, 62, 0.5);
  border-radius: 8px;
  padding: 4px; /* Add some padding around the tray icons */
  margin: 4px 5px; /* Add some margin for spacing from other modules and edges */
  margin-right: 3px; /* Add some right margin to separate from other right-side modules */


  border: 2px;
  border-style: solid;
  border-color: @PURPLE;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: rgba(41, 45, 62, 0.5);
  border-radius: 8px;
  padding: 4px; /* Add some padding around the tray icons */
  margin: 4px 5px; /* Add some margin for spacing from other modules and edges */
  margin-right: 3px; /* Add some right margin to separate from other right-side modules */


  border: 2px;
  border-style: solid;
  border-color: @PURPLE;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
  background-color: rgba(41, 45, 62, 0.5);
  border-radius: 8px;
  padding: 4px; /* Add some padding around the tray icons */
  margin: 4px 5px; /* Add some margin for spacing from other modules and edges */
  margin-right: 3px; /* Add some right margin to separate from other right-side modules */


  border: 2px;
  border-style: solid;
  border-color: @PURPLE;
}

#network.disconnected {
  color: orange;
  background-color: rgba(41, 45, 62, 0.5);
  border-radius: 8px;
  padding: 4px; /* Add some padding around the tray icons */
  margin: 4px 5px; /* Add some margin for spacing from other modules and edges */
  margin-right: 3px; /* Add some right margin to separate from other right-side modules */
}

#pulseaudio {
  background-color: rgba(41, 45, 62, 0.5);
  border-radius: 8px;
  padding: 4px; /* Add some padding around the tray icons */
  margin: 4px 5px; /* Add some margin for spacing from other modules and edges */
  margin-right: 3px; /* Add some right margin to separate from other right-side modules */


  border: 2px;
  border-style: solid;
  border-color: @PURPLE;
}

#pulseaudio.muted {
  background-color: rgba(41, 45, 62, 0.5);
  border-radius: 8px;
  padding: 4px; /* Add some padding around the tray icons */
  margin: 4px 5px; /* Add some margin for spacing from other modules and edges */
  margin-right: 3px; /* Add some right margin to separate from other right-side modules */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
  background-color: rgba(41, 45, 62, 0.5);
  border-radius: 8px;
  padding: 4px; /* Add some padding around the tray icons */
  margin: 4px 5px; /* Add some margin for spacing from other modules and edges */
  margin-right: 3px; /* Add some right margin to separate from other right-side modules */


  border: 2px;
  border-style: solid;
  border-color: @PURPLE;
}

#temperature.critical {
    color: red;
}

/* Configuration for the whole workspaces module */
#workspaces {
  background-color: rgba(41, 45, 62, 0.5);
  border-radius: 8px; /* Slightly less rounded corners for the outer container */

  padding: 5px; /* Adjusted padding inside the outer rounded square */
  margin: 5px; /* Slightly smaller margin around the whole module */

  border: 2px;
  border-style: solid;
  border-color: @PURPLE;
}

/* Styling for each individual workspace button */
#workspaces button{
  font-size: 16px;
  color: @PINK;
  border: none;
  padding-right: 2px;
  margin: 0px;
  min-width: 20px;
  min-height: 0px;
}

#workspaces button.empty {
  color: @PURPLE;
}

/* Styling for the active workspace */
#workspaces button.active{
  box-shadow: 0 2px 0 0 @PINK;
}

/* Blinking animation */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}
